@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 10px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 38.6rem;
  height: 100%;
  font-size: 2rem;
  color: #fff;
  letter-spacing: 0.1rem;
  order: 2;
}

#lateral-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3vw;
  height: 100vh;
  position: absolute;
  right: 0;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#lateral-container .color {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 1.5rem 0rem;
  cursor: pointer;
}

.color-1 {
  background-color: #2876f9;
  background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
}

.color-2 {
  background-color: #fff000;
  background-image: linear-gradient(315deg, #fff000 0%, #ed008c 74%);
}

.color-3 {
  background-color: #03e5b7;
background-image: linear-gradient(315deg, #03e5b7 0%, #037ade 74%);
}

.color-4 {
  background-color: #2234ae;
  background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
}

#lateral-container #color-1 {
  background-color: #2876f9;
  background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
  border: 1px solid rgba(255, 255, 255, 0.8);
}
#lateral-container #color-2 {
  background-color: #fff000;
  background-image: linear-gradient(315deg, #fff000 0%, #ed008c 74%);
  border: 1px solid rgba(255, 255, 255, 0.8);
}
#lateral-container #color-3 {
  background-color: #03e5b7;
background-image: linear-gradient(315deg, #03e5b7 0%, #037ade 74%);
border: 1px solid rgba(255, 255, 255, 0.8);
}
#lateral-container #color-4 {
  background-color: #2234ae;
  background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
  border: 1px solid rgba(255, 255, 255, 0.8);
}

#lateral-container #color-1:hover,
#lateral-container #color-2:hover,
#lateral-container #color-3:hover,
#lateral-container #color-4:hover {
  border: 2.5px solid white;
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container .search-container {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container .search-container .search-container-plus {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container .search-container .search-container-plus #select {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-right: 4rem;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#container .search-container .search-container-plus #select optgroup {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

#container .search-container .search-container-plus #select optgroup option,
#container .search-container .search-container-plus #select option {
  color: #000;
  background: transparent !important;
  cursor: pointer;
}

#container .search-container .search-container-plus #todoComplied {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-left: 4rem;
  font-size: 3rem;
  transform: scale(2);
  background: #fff;
  cursor: pointer;
  accent-color: #000;
}

#container .search-container .search-container-plus #labelSelect {
  font-size: 1.8rem;
  color: #fff;
  margin-right: 1.5rem;
  font-weight: 550;
}

#container .search-container #labelSearch {
  font-size: 2.2rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}

#container .search-container #search {
  width: 36%;
  border: none;
  border-radius: 6px;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  color: #fff;
  outline: none;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

::placeholder {
  color: #fff;
  opacity: 0.7;
}

#container .table-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4rem;
}

#container .table-container .sub-container {
  width: 36%;
  height: 5.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#container #next {
  width: 8.9rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 3;
  border: none;
  color: #fff;
  padding: 0.5rem 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s all linear;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom-right-radius: 10px;
}

#container #prev {
  width: 8.9rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
  border: none;
  color: #fff;
  padding: 0.5rem 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s all linear;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom-left-radius: 10px;
}

#container #next:hover,
#container #prev:hover {
  transition: 0.1s all linear;
  font-size: 3rem;
}

#container table {
  width: 36%;
  height: 60%;
  border-collapse: collapse;
  text-align: center;
  color: #fff;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#container table td {
  padding: 1.4rem 1rem;
}

#container table tr th:first-child {
  width: 8.9rem;
}

#container table tr th:nth-child(3) {
  width: 5rem;
}

#container table th {
  padding: 1.4rem 1rem;
  height: 4.5rem;
  color: #fff;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  letter-spacing: 0.1rem;
}

#container table th:first-child {
  width: 8.9rem;
  height: 100%;
  border-top-left-radius: 10px;
}
#container table th:nth-child(3) {
  width: 8.9rem;
  height: 100%;
  border-top-right-radius: 10px;
}
